<mat-toolbar [ngStyle]="{'background-color': background}">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <span fxFlex="none">My Angular Project</span>
  </div>
</mat-toolbar>

<mat-slide-toggle (change)="onToggleChange()">
  Change color
</mat-slide-toggle>

<form [formGroup]="usersForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field appearance="fill" fxFlex>
    <mat-label>ID</mat-label>
    <input matInput type="text" formControlName="id" [disabled]="true">
  </mat-form-field>

  <mat-form-field appearance="fill" fxFlex>
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill" fxFlex>
    <mat-label>Lastname</mat-label>
    <input matInput type="text" formControlName="lastname">
  </mat-form-field>

  <mat-form-field appearance="fill" fxFlex>
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option value="Type A">Type A</mat-option>
      <mat-option value="Type B">Type B</mat-option>
      <mat-option value="Type C">Type C</mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout="column" fxLayoutAlign="center center" fxFlex  formArrayName="subjects">
      <mat-label>Subjects</mat-label>
      <button mat-raised-button color="primary" type="button" (click)="addSubject()">Add subject</button>
      <div *ngFor="let subject of subjects.controls; let i = index">
        <h5>Subject {{i + 1}}</h5>
        <mat-form-field>
          <mat-label>Name Subject {{i + 1}}</mat-label>
          <input matInput type="text" placeholder="Name" [formControlName]="i">
        </mat-form-field>
      </div>
  </div>

  <mat-form-field [style.margin-top]="'15px'" appearance="fill" fxFlex>
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email">
    <mat-error *ngIf="usersForm.controls['email'].invalid && usersForm.controls['email'].touched">Invalid email</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" fxFlex>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="usersForm.controls['password'].invalid && usersForm.controls['password'].touched">Invalid password</mat-error>
  </mat-form-field>

  <div *ngIf="!usersForm.controls['id'].value" fxFlex>
    <mat-form-field appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="usersForm.controls['confirmPassword'].invalid && usersForm.controls['confirmPassword'].dirty">Passwords must match</mat-error>
    </mat-form-field>
  </div>

  <mat-checkbox formControlName="sex" fxFlex>MALE</mat-checkbox>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex.gt-md="50" fxFlex="100">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" id="description"></textarea>
        <mat-error *ngIf="usersForm.controls['description'].invalid && usersForm.controls['description'].touched">Please enter a valid description</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex.gt-md="50" fxFlex="100">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Phone</mat-label>
        <input matInput type="text" formControlName="phone" id="phone">
        <mat-error *ngIf="!usersForm.controls['phone'].valid && usersForm.controls['phone'].touched">Please enter a valid phone number</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-md="50" fxFlex="100">
      <button class="btn btn-success" type="submit" [disabled]="!usersForm.valid">Save</button>
    </div>
  </div>
</form>


<mat-list>
  <ng-container *ngFor="let item of allUsers">
    <mat-list-item (click)="putElementIntoForm(item.id)">{{item.id}} -- {{item.name}} {{item.lastname}} -- {{item.sex}}</mat-list-item>
    <button mat-icon-button color="warn" (click)="deleteUser(item.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-container>
</mat-list>


<h5>Choose size of modal</h5>
<mat-slider min="200" max="400" step="1">
  <input [(ngModel)]="sliderValue" matSliderThumb>
</mat-slider>

<button mat-raised-button (click)="openModal()">Open Modal</button>


<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Favorite Fruits</mat-label>
  <mat-chip-grid #chipGrid aria-label="Enter fruits">
    <mat-chip-row *ngFor="let fruit of fruits"
                  (removed)="remove(fruit)"
                  [editable]="true"
                  (edited)="edit(fruit, $event)"
                  [aria-description]="'press enter to edit ' + fruit.name">
      {{fruit.name}}
      <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input placeholder="New fruit..."
           [matChipInputFor]="chipGrid"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)"/>
  </mat-chip-grid>
</mat-form-field>
